<div class="body-hero-section large-12 columns">
  <img src="http://placehold.it/500x322" class="big-ad-image"/>
  <div class="large-4 columns">
    <h1>Longer header that takes up room</h1>
    <p>Lorem lean startup ipsum product market fit customer development acquihire technical cofounder. User engagement A/B testing
      shrink a market venture capital pitch deck. Lorem lean startup ipsum product market fit customer development acquihire technical
      cofounder. User engagement A/B testing shrink a market venture capital pitch deck.</p>
  </div>
</div>
<div class="new-update large-12 columns">
  <div class="panel-width large-2 columns">
    <div class="panel whats-new">
      <p>What's new?</p>
    </div>
  </div>
  <div class="large-10 columns">
    <div class="panel">
      <p>User engagement A/B testing shrink a market venture capital pitch deck.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="about-text large-12 columns">
    <div class="large-6 columns">
      <h2>About Busiby</h2>
      <p>Lorem lean startup ipsum product market fit customer development acquihire technical cofounder. User engagement A/B testing
        shrink a market venture capital pitch deck. Lorem lean startup ipsum product market fit customer development acquihire technical
        cofounder.</p>
      <button class="button alert">Take a tour</button>
      <button class="button">30 day free trial</button>
    </div>
    <div class="large-6 columns right">
      <img src="http://www.placehold.it/500x250" />
      <p class="busiby-video">Learn about Busiby in this short video</p>
    </div>
  </div>
  <hr />
</div>
<div class="row">
  <div class="pitch-busiby large-12 columns">
    <h2>Why do people use Busiby?</h2>
    <p>Lorem lean startup ipsum product market fit customer development</p>
    <div class="large-3 columns">
      <h3>Business</h3>
      <p>Lorem lean startup ipsum product market fit customer development acquihire technical cofounder.</p>
    </div>
    <div class="large-3 columns">
      <h3>Business</h3>
      <p>Lorem lean startup ipsum product market fit customer development acquihire technical cofounder.</p>
    </div>
    <div class="large-3 columns">
      <h3>Business</h3>
      <p>Lorem lean startup ipsum product market fit customer development acquihire technical cofounder.</p>
    </div>
    <div class="large-3 columns">
      <h3>Business</h3>
      <p>Lorem lean startup ipsum product market fit customer development acquihire technical cofounder.</p>
    </div>
  </div>
</div>