/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "foundation";
/*$busiby-dark-red: #4C1B1B;
$busiby-light-red: #B9121B;
$busiby-middle-cream: #F6E497;
$busiby-white: #FCFAE1;
$busiby-brown: #BD8D46;
$busiby-nav-cream: #F6E497;
$busiby-footer-black: #272727;*/
body {background: #fff !important;}
.column, .columns {padding: 0 !important;}
.body-container { background: #fff; }